<!DOCTYPE html>
<html lang="en">
<head>
  <title>First Look</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <h2>Overall general features from the data about most frequantly complained finacial products and most frequant complaint issue. <br><a href="/index">Back</a></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Complained Product</a></li>
    <li><a data-toggle="tab" href="#menu2">Complained Issues</a></li>
  </ul>

  <div class="tab-content">
    <div id="#menu1" class="tab-pane fade in active">
      <h2>Most frequantly complained products: </h2>
      <div class='matplotlib' >
	<img src="static/figures/{{plotPng1}}" style="width:75%; height:75%" >
	<h3 class="bg-primary"> Mortage, Debt collection, and Credict reporting are three most frequant complained products.</h3>

	<hr size="10" width="80%">
	<h2> Time histroy of count of the complainted products </h2>
	<img src="static/figures/{{plotPng2}}" style="width:75%; height:75%" >
	<h3 class="bg-primary">
	  The most frequantly complainted product is the Morgage in general.
	  The complainted related with credict report and Debt collection increase.
	  This increase may be related with overall credict a aftermess of credict crisis.<br>
	  However, this analysis only takes account of total complaint number, not rate!
	  It could cause a strong bias toward the popular products.
	  I need to total sales of the products to get better measure.
	</h3>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Top 3 most frequantly complained issues:</h3>
      <ol class="c;bg-primary">
        <li> Loan modification, collection, foreclosure </li>
	<li> Incorrect information on credit report </li>
	<li> Loan servicing, payments, escrow account </li>
      </ol>
      <h3 class="bg-primary"> The top issues are closely related with top complained product! </h3>
      <hr size="10" width="80%">
      <h2> Time history of responded rate and disputed rate of three most frequently complainted issues</h2>
      <div class='matplotlib', >
	<img src="static/figures/{{plotPng3}}" style="width:100%; height:100%">
	<h3 class="bg-primary">
	  The timely respond rate for the frequant complainted issues decrease.
	  It reflects that the companies respond rates for the particular issues are improved.
	  Consummer's disupted rate is more less constant.
	  It suggests the complaint disputed is less senstive with any economic conditions and/or company's customer support level.
	</h3>
      </div>
    </div>
  </div>

</body>
</html>



