<!doctype html>
<html>
  <head>
  <title>First look</title>
    <style>
    ol.c {
    list-style-type: upper-roman;
    }
    </style>
  </head>
  <body>
    <h1>First look</h1>
    <h2>Overall general features from the data about most frequantly complained finacial products and most frequant complaint issue.<br><a href="/index">Back</a></h1>
    <hr size="2" width="80%">
    <div class='matplotlib', >
      <h2> Most frequantly complainted products </h2>
      <img src="static/figures/{{plotPng1}}" style="width:75%; height:75%" >
      <h2> Time histroy of count of the complainted products </h2>
      <img src="static/figures/{{plotPng2}}" style="width:75%; height:75%" >
      <h3>
	The most frequantly complainted product is the Morgage in general.
	The complainted related with credict report and Debt collection increase.
	This increase may be related with overall credict a aftermess of credict crisis.
      </h3>
      <hr size="1" width="80%">
      <h2> Most frequantly complainted issues </h2>
      <ol class="c">
      <li>1: Loan modification, collection, foreclosure </li>
      <li>2: Incorrect information on credit report </li>
      <li>3: Loan servicing, payments, escrow account </li>
      </ol>
      
            <h2> Time history of responded rate and disputed rate of three most frequently complainted issues</h2>
     <img src="static/figures/{{plotPng3}}" style="width:100%; height:100%">
      <h3>
	The timely respond rate for the frequant complainted issues decrease.
	It reflects that the companies respond rates for the particular issues are improved.
	Complaint disupted rate is more less constant.
	It suggests the complaint disputed is less senstive with any economic conditions and/or company's customer support level.
      </h3>
</div>
  </body>
  </html>
