<!DOCTYPE html>
<html lang="en">
<head>
  <title>Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" >
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
  {{ script1 | safe }}
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" >
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
  {{ script2 | safe }}
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" >
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
  {{ script3 | safe }}
</head>
<body>

<div class="container">
  <h1>State wise counts of the complaints at 2011-2015 <br><a href="/index">Back</a></h1>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Respond rate</a></li>
    <li><a data-toggle="tab" href="#menu2">Disputed rate</a></li>
    <li><a data-toggle="tab" href="#menu3">Correlation</a></li>
  </ul>

  <div class="tab-content">
    <div id="#menu1" class="tab-pane fade in active">
      <h2>Respond Rate</h2>
      <h3> The rate of the complaints timely responded from the company. The color range is about 96% to 100% with mean as 97.5%. Darker color represents higher rate.</h3>
      <h3 class="bg-primary">Although the respond rate is overall high, complaints from North East states (NY and CT) are better responded, while Southern states (MS, LA) are poorly responded</h3>
      {{ div1 | safe }}
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Consumer disputed rate</h2>
      <h3> The rate of the consumer disputed. The color range is about 15% to 25%, with mean of 20.5%. Darker color represents higher rate </h3>
      <h3 class="bg-primary">Among the big states, consumer dispute rate in California is high. It implies that the complaints from California and Maryland tend to be controversial and may need additional care.</h3>
      {{ div2 | safe }}
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>Correlation</h2>
      <h3 class="bg-primary"> Correlation between Respond rate and Consumer disputed rate. The plot shows that there is hardly any correlation between two and measured Pearson correlation coefficient is as low as 0.033. </h3>
      {{ div3 | safe }}
    </div>
  </div>
</div>

</body>
</html>



