<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Consumer Complaint Analysis</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  		  <h1>Consumer's Complaints Analysis</h1>
		  <h2>		    
		    <hr size="2" width="80%">
		    Consumer Complaints are valuable dataset that can help to improve the business.
		    How to resolve the complaints is an important measurement of the quality of the customer service.
		    The contents of the complaints provide new insight how to upgrade the current products.<br>
		    
		    In this project, I analyze the Consumer Complaints database by <a href="http://www.consumerfinance.gov">the Consumer Financial Protection Bureau (CFPB)</a> <br>
		    <hr size="2" width="80%">
		    Three different analyses are performed.
		  </h2>
		  <form id='plot' method='post' action='index' >
		  <p>
		      <input type="checkbox" name='key' value='Firstlook'>First Look<br>
		      <input type="checkbox" name='key' value='Map'>Geograpical View<br>
		      <input type="checkbox" name='key' value='Text'>Text Analysis<br>
		    </p>
		    <p>
		      <input type='submit' value='Submit' />
		    </p>
		  </form>
		  
		</div>
	</body>
</html>
