<!DOCTYPE html>
<html lang="en">
<head>
  <title>Topic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <h1>Text Ananlysis <br><a href="/index">Back</a></h1>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Top Issues</a></li>
    <li><a data-toggle="tab" href="#menu2">Complaint Issue Topic Analysis</a></li>
    <li><a data-toggle="tab" href="#menu3">Complaint Narrative Topic Analysis</a></li>
  </ul>

  <div class="tab-content">
    <div id="#menu1" class="tab-pane fade in active">
      <h2>Top issues</h2>
      <h3 class="bg-primary"> Based on top 50 frequently complained issues, I perform a machine learning text analysis method (bag of the words) to figure out what it the underline complaint issue. The word cloud shows that "Credit" and "loan" are most noticeable word in the complained issue. </h3>
      <div class='matplotlib'>
	<img src="static/figures/{{plotPng}}" style="width:90%; height:90%">
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Complaint Issue</h2>
      <h3> Based on all the complaint issues, I perform topic modeling (LDA) analysis and visualize the result </h3>
      <h3 class="bg-primary"> There are three top complaint issue topics: "credit report", "credit card protection" and "loan customer service". It suggests that the complaints are mostly based on credit card issue and loan issues </h3>
      <p> If you move mouse to one of topic circle in left panel, you will see the ranking of the related terms. </p>
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.css">

	<div id="ldavis_issue"></div>
	<script type="text/javascript">

	  var ldavis_issue_data = {{ data_issue | safe }}


	  function LDAvis_load_lib(url, callback){
	  var s = document.createElement('script');
	  s.src = url;
	  s.async = true;
	  s.onreadystatechange = s.onload = callback;
	  s.onerror = function(){console.warn("failed to load library " + url);};
	  document.getElementsByTagName("head")[0].appendChild(s);
	  }

	  if(typeof(LDAvis) !== "undefined"){
	  // already loaded: just create the visualization
	  !function(LDAvis){
	  new LDAvis("#" + "ldavis_issue", ldavis_issue_data);
	  }(LDAvis);
	  }else if(typeof define === "function" && define.amd){
	  // require.js is available: use it to load d3/LDAvis
	  require.config({paths: {d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min"}});
	  require(["d3"], function(d3){
	  window.d3 = d3;
	  LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
          new LDAvis("#" + "ldavis_issue", ldavis_issue_data);
	  });
	  });
	  }else{
	  // require.js not available: dynamically load d3 & LDAvis
	  LDAvis_load_lib("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", function(){
          LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
          new LDAvis("#" + "ldavis_issue", ldavis_issue_data);
          })
          });
	  }
	</script>
      <p> What is LDA? : Latent Dirichlet allocation (LDA) is a generative statistical model that allows sets of observations to be explained by unobserved groups that explain why some parts of the data are similar. For example, if observations are words collected into documents, it posits that each document is a mixture of a small number of topics and that each word's creation is attributable to one of the document's topics. (<a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation">see related wiki</a>) </p>
      <p>How to read visualization? : First, it provides a novel method for choosing which terms to present to a user to aid in the task of topic interpretation. Second, it presents the ranking terms purely by their probability under a topic. Last, it allows users to flexibly explore topic-term relationships using relevance to better understand a fitted LDA model. (<a href="http://nlp.stanford.edu/events/illvi2014/papers/sievert-illvi2014.pdf"> read this document for detail </a>)</p>
    </div>

    <div id="menu3" class="tab-pane fade">
      <h3>Complaint Narrative</h3>
      <h3> Based on all the complaint narrative, I perform topic modeling (LDA) analysis and visualize the result </h3>
      <h3 class="bg-primary"> We can claim that there are three major Complaint narratives:
	<ol class="c">
	  <li> Communication failure </li>
	  <li> Bank account issue </li>
	  <li> Debt collection </li>
	</ol>
      </h3>
      <h3 class="bg-danger">
	It is interesting that top topics in the complaint issue and the complaint narrative are different.
	Customers who have desperate complaints tend to leave a complaint narrative.
	The topics appear in top issues are generally frequent complaints, but the topics appear in top narrative generally make customer very angry.	
	In particular, complaints related with "Credit" and "loan" are common complaints, while complaints related with "Communication failure", "Bank account", and "Debt collection" are more desperate.
      </h3>
      <p> If you move mouse to one of topic circle in left panel, you will see the ranking of the related terms. </p>
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.css">

	<div id="ldavis_narr"></div>
	<script type="text/javascript">

	  var ldavis_narr_data = {{ data_narrative | safe }}


	  function LDAvis_load_lib(url, callback){
	  var s = document.createElement('script');
	  s.src = url;
	  s.async = true;
	  s.onreadystatechange = s.onload = callback;
	  s.onerror = function(){console.warn("failed to load library " + url);};
	  document.getElementsByTagName("head")[0].appendChild(s);
	  }

	  if(typeof(LDAvis) !== "undefined"){
	  // already loaded: just create the visualization
	  !function(LDAvis){
	  new LDAvis("#" + "ldavis_narr", ldavis_narr_data);
	  }(LDAvis);
	  }else if(typeof define === "function" && define.amd){
	  // require.js is available: use it to load d3/LDAvis
	  require.config({paths: {d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min"}});
	  require(["d3"], function(d3){
	  window.d3 = d3;
	  LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
          new LDAvis("#" + "ldavis_narr", ldavis_narr_data);
	  });
	  });
	  }else{
	  // require.js not available: dynamically load d3 & LDAvis
	  LDAvis_load_lib("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", function(){
          LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
          new LDAvis("#" + "ldavis_narr", ldavis_narr_data);
          })
          });
	  }
	</script>
    </div>


  </div>
</div>

</body>
</html>




